:root
{
    --verde1: #55BE78;
    --verde2: #4DB98A;
    --verde3: #3EB190;
    --verde4: #35A396;
    
    --preto: black;
    --branco: white;

    --azulescuro: #82CAD7;
    --azulclaro: #C7FFE7;
    --percNumColor: #0a2638;
}

.darkmode
{
    --verde1: #196650;
    --verde2: #0e414a;
    --verde3: #0a2638;
    --verde4: #041226;
    
    --preto: white;
    --branco: black;

    --azulescuro: #639acd;
    --azulclaro: #82CAD7;
    --percNumColor: #3EB190;
}


*
{
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    margin: 0;
    user-select: none;
    transition: background-color 0.5s;
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
}

.TEXT
{
    transition: 0.05s;
}

#warningScreen
{
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 102;
    width: 100vw;
    height: 100vh;
    background-color: var(--verde1);
    text-align: center;
    align-content: center;
    color: white;
}

#warningScreen h1
{
    font-size: 24px;
    width: 50%;
    margin: auto;
}

#warningScreen p
{
    font-size: 16px;
    width: 50%;
    margin: auto;
    margin-bottom: 5vh;
}


#modal
{
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    align-content: center;
    transition: 0.5s;
}

#modalBox
{
    background: linear-gradient(var(--verde2) 75%, var(--verde3));
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 2.5%;
    width: 50%;
    height: 60%;
    margin: auto;
    transition: 0.5s;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 24px;
    margin-bottom: 5%;
}

#modalText
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
}

#modalTitle
{
    margin-bottom: 5%;
    font-size: 56px;
}

#codeImg
{
    opacity: 0;
    width: 15%;
}


#canvas
{
    position: fixed;
    z-index: 99;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: 0.5s;
}



#sidebar
{
    position: fixed;
    background-color: var(--azulescuro);
    height:100vh;
    width: 5%;
    z-index: 100;
    transition: 0.5s;
    justify-content: center;
}

.btnSidebar
{
    margin-left: 17.5%;
    margin-top: 10%;
    width: 65%;
    height: 6.75%;
    background-color: var(--azulclaro);
    transition: 0.5s;
    display: grid;
    grid-template-columns: 0px 200px;
    overflow: hidden;
    align-content: center;
}

a
{
    text-decoration: none;
}

.txtSB
{
    color: var(--azulescuro);
    margin-left: 40%;
    margin-top: 1%;
    font-size: 200%;
    background-color: transparent;
    z-index: 2;
    white-space: nowrap;
    width: max-content;
}

#inicioIcon, #habIcon, #projIcon, #linkIcon, #darkIcon, #langIcon, #brushIcon
{
    overflow: hidden;
    align-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: auto;
}

#eraser, #picker, #clear, #saveCanvas
{
    align-content: center;
    margin-left: auto;
}



#habImg
{
    transform: translateX(-150px) translateY(-150px);
}

#projImg
{
    transform: translateX(-100px) translateY(-100px);
}

#linkImg
{
    transform: translateX(0px) translateY(-50px);
}

#langImg
{
    transform: translateX(-50px) translateY(-100px);
}

#brushlineImg
{
    transform: translateY(-240%);
}

#brushpaintImg
{
    transform: translateX(50px) translateY(-240%);
    filter: drop-shadow(0px 105px 0 black);
}

#eraserImg
{
    transform: translateX(0px) translateY(-42px);
}

#pickerImg
{
    transform: translateX(0px) translateY(-21px);
}

#clearImg
{
    transform: translateX(-21px) translateY(-84px);
}

#saveImg
{
    transform: translateX(0px) translateY(-63px);
}

#forwImg
{
    transform: scaleX(-1);
}

#backD, #forwD
{
    opacity: 0;
}

.imgSB, .imgT
{
    background-color: transparent;
}

.btnSidebarOP
{
    margin-left: 17.5%;
    margin-top: 10%;
    width: 65%;
    height: 6.75%;
    background-color: var(--azulclaro);
    transition: 0.2s;
    overflow: hidden;
    align-content: center;
}

#bar1
{
    margin-top: 15%;
}

.btnSidebar:hover
{
    width: 600%
}

#optionsIcon
{
    margin-left: 17.5%;
    margin-top: 10%;
    width: 65%;
    height: 6.75%;
    align-content: center;
    background-color: transparent;
    overflow: hidden;
}

#tools
{
    width: 5vw;
    height: 200px;
    margin-top: calc(100vh + 300px);
    background-color: transparent;
    transition: 1s ease-in-out;
}

#colors
{
    background-color: transparent;
}

.btntools
{
    width: 26%;
    height: 11%;
    background-color: var(--azulclaro);
    justify-content: center;
    align-content: center;
    transition: 0.5s;
    display: inline-block;
    overflow: hidden;
}

#eraser, #clear, #backD
{
    margin-left: 17.5%;
}


#btnSave
{
    background-color: transparent;
}


#colorPicker
{
    background-color: transparent;
    margin-left: 17.5%;
    margin-top: 10%;
}

#brushSize
{
    background-color: transparent;
}

#rangeBrush
{
    margin-top: 20%;
    width: 65%;
    margin-left: 17.5%;
    margin-bottom: 20%
}

#rangeBrush::-webkit-slider-runnable-track
{
    background-color: var(--azulclaro);
}




header
{
    background-color: black;
    width: 100vw;
    height: 350px;
    overflow: hidden;
    display: flex;
}

#headerBox
{
    margin-left: 7.5%;
    margin-top: 1%;
}

#txtHeader
{
    color: white;
    font-size: 74px;
    width: 30vw;
}

#loraxtxt
{
    position: relative;
    margin-top: -5%;
    background-color: transparent;
}

#introBox
{
    overflow: hidden;
    width: 544px;
    height: 460px;
    margin-left: 35%;
    margin-top: -5vh;
}

#loraxIntro
{
    filter: drop-shadow(-10px 0px 0 rgb(255, 255, 255)) drop-shadow(-15px 0px 0 var(--verde1));
}






.sections
{
    width: 100vw;
    transition: 0.5s;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

#inicio
{
    background-color: var(--verde1);
}

#iniciotxt
{
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 75%;
    margin-left: 15vw;
    transition: 0.5s;
    height: 30vh;
}

#btnMais
{
    background-image: url("images/button.png");
    margin-left: 45vw;
    width: 225px;
    height: 100px;
    margin-top: 5vh;
    background-repeat: no-repeat;
    transition: 0.5s;
}

#btnArrow
{
    margin-top: 9%;
    background-color: transparent;
    animation: 0.5s infinite linear;
}

#btnMais:hover #btnArrow
{
    animation-name: arrowAnim;
}

@keyframes arrowAnim {
  0% {margin-left: 0;}
  25% {margin-left: -5%;}
  50% {margin-left: 0;}
  75% {margin-left: 5%;}
  100% {margin-left: 0;}
}


#habilidades
{
    background-color: var(--verde2);
}

.secTitle
{
    font-size: 50px;
    color: white;
    margin-left: 4vw;
}

#habBoxes
{
    margin-left: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;

}

.fullBox
{
    margin-top: 10vh;
}

.boxes
{
    background-color: var(--verde2);
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 5%;
    width: 75%;
    height: 400px;
    margin-left: 2.5vw;
}

.animsDivs
{
    margin: auto;
    overflow: hidden;
    margin-top: 5vh;
}

#artDiv
{
    width: 233px;
    height: 335px;
}

#animDiv
{
    width: 289px;
    height: 288px;
    margin-top: 7vh;
    margin-right: auto;
}

#progDiv
{
    width: 366px;
    height: 324px;
}

#musicDiv
{
    width: 395px;
    height: 342px;
}


.ballPercentage
{
    background-color: var(--verde2);
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 100px;
    border-width: 10px;
    border-radius: 50%;
    margin-left: 75%;
    margin-top: -15%;
    color: var(--verde2);
    align-content: center;
}

.percB
{
    margin: auto;
    border-style: solid;
    border-color: var(--verde2);
    border-width: 1px;
    width: 90px;
    height: 90px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
    color: var(--percNumColor);
    transition: 0.5s;
}

#percB1
{
    background: conic-gradient(white 0% 97%,transparent 97% 100%);
}

#percB2
{
    background: conic-gradient(white 0% 75%,transparent 75% 100%);
}

#percB3
{
    background: conic-gradient(white 0% 50%,transparent 50% 100%);
}

#percB4
{
    background: conic-gradient(white 0% 25%,transparent 25% 100%);
}

.percNum
{
    font-size: 32px;
    transition: 0.5s;
}

.titleFullBox
{
    display: flex;
    margin-left: 5%;
    margin-top: -5%;
}

.titleBox
{
    margin-left: 2.5%;
    font-size: 300%;
    text-shadow: 5px 0 var(--verde2), -5px 0 var(--verde2), 
    0 5px var(--verde2), 0 -5px var(--verde2),
    5px 5px var(--verde2), -5px -5px var(--verde2), 
    5px -5px var(--verde2), -5px 5px var(--verde2);
    transition: 0.5s;
}

.infoIcon
{
    transition: 0.5s;
    margin-left: 1%;
    background-color: var(--verde2);
    border-style: solid;
    border-color: white;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 16px;
    border-width: 3.5px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
}

#descHabBOX
{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    color: white;
    align-content: center;
}

.infoIconDESC
{
    background-color: var(--verde2);
    border-style: solid;
    border-color: white;
    width: 20px;
    height: 20px;
    color: white;
    border-width: 3.5px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.infoIcon:hover
{
    width: 35px;
    height: 35px;
    font-size: 20px;
}



#projetos
{
    background-color: var(--verde3);
}

#projFull
{
    transition: 0.25s;
}

.arrowProj
{
    filter: invert(100%);
    width: 50px;
    margin-bottom: 2.5%;
    transition: 0.5s;
}

#arrowProjLEFT
{
    transform: scaleX(-1);
}

.logoBox
{
    margin-right: 5vw;
    align-content: center;
}

#logoProj
{
    width: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    transition: 0.25s;
    overflow: hidden;
}

#arrowProjLEFT:hover
{
    margin-left: -1%;
    margin-right: 1%;
}

#arrowProjRIGHT:hover
{
    margin-left: 1%;
    margin-right: -1%;
}

.projBox
{
    margin-left: 10vw;
    margin-top: 10vh;
}

#boxprojFull
{
    transition: 0.25s;
}

#boxesProj
{
    margin-top: 5vh;
    display: flex;
    color: white;
    font-size: 125%;
    font-weight: 400;
    margin-bottom: 5vh;
}

#boxProj
{
    width: 40%;
    height: 300px;
    margin-left: 2.5vw;
    align-content: center;
}

video
{
    width: 40%;
    pointer-events: none;
    margin-left: 5vw;
    border-radius: 10%;
}

#extraTextPROJ
{
    margin-top: 1vh;
    width: 65%;
    margin-left: 12.5vw;
    color:white;
    height: 5vh;
}

#btnProj
{
    align-content: center;
    color: #0a2638;
    font-size: 135%;
    background-image: url("images/button_proj.png");
    margin-left: 35vw;
    width: 225px;
    height: 100px;
    margin-top: 5vh;
    background-repeat: no-repeat;
    justify-content: center;
    transition: 0.5s;
}

#btnProj h1
{
    margin-right: 5%;
    margin-bottom: 5%;
}

#btnProj:hover
{
    color: white;
    font-size: 150%;
}

#linkcontato
{
    background-color: var(--verde4);
}

.socialBox
{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 100px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    align-items: center;
}

.imgSocial
{
    width: 100px;
    height: 100px;
}

.imgSocial img
{
    width: 100px;
    height:100px;
    filter: invert(100%);
    margin: auto;
    transition: 0.1s;
}

.titleSocial
{
    font-size: 24px;
    margin-left: 2.5%;
    margin-right: 5%;
    text-decoration: underline;
    transition: 0.5s;
    color: var(--percNumColor);
}

.titleSocial:hover
{
    color: white;
}

.descSocial
{
    color: white;
}

hr
{
    width: 75%;
    margin-left: 15%;
    border-radius: 5px;
    border: 5px solid white;
}

footer
{
    background-color: black;
    width: 100vw;
    height: 200px;
    overflow: hidden;
    align-content: center;
    text-align: center;
    color: white;
}

footer p
{
    margin-left: 5%;
}